.segment-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(123, 123, 133);
}

.datapoint-path {
  stroke: #446688;
  fill: grey;
}

text {
  font-family: Arial, sans-serif;
  fill: #ffffff;
}
